* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* demo purpose */
body {
  height: 1000vh;
}

#navbar {
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #3f4450;
}

#navbar li a:hover {
  color: #fa4338;
}

#navbar li {
  display: inline;
  text-decoration: none;
  padding: 20px 15px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  color: black;
}

#getstarted {
  background-color: #fa4338;
  width: 130px;
  height: 45px;
  padding: 10px 10px;
  color: aliceblue;
  border: 0px;
  margin-right: 15px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
}

#logoimg {
  width: auto;
  height: 70px;
}

#products_dropdown {
  display: none;
}

/* when someone hover this things work */

#navbar ul li:hover #products_dropdown {
  display: block;
  position: absolute;
  width: 550px;
  margin: auto;
  height: 600px;
  margin-top: -15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#products_dropdown ul {
  display: block;
  margin: 10px;
}

#products_dropdown_div {
  display: flex;
  height: 60px;
  width: 450px;
  margin-top: 10px;
  align-items: center;
  margin-left: 0px;
}

#products_dropdown_div img {
  width: 50px;
  height: 50px;
}

#products_dropdown_div_text {
  align-items: center;
  margin-bottom: 10px;
  line-height: 5px;
  margin-left: 20px;
  padding: 5px 5px;
}

#products_dropdown ul li a {
  color: black;
}

#viewallproducts {
  color: #fa4338;
}

/* solution dropdown menu css */

#solution_dropdown {
  display: none;
}

#navbar ul li:hover #solution_dropdown {
  display: block;
  position: absolute;
  left: -70px;
  width: 400px;
  height: 460px;
  margin-top: 0px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#solution_dropdown_div {
  display: flex;
  height: 30px;
  width: 300px;
  align-items: center;
  margin-left: 0px;
  margin-top: 10px;
  color: #3f4450;
  align-items: center;
}

#solution_dropdown_div img {
  width: 25px;
  height: 25px;
}

#solution_dropdown_div p {
  margin-left: 13px;
  font-weight: 700;
}

#resorces_dropdown {
  display: none;
}

#navbar ul li:hover #resorces_dropdown {
  display: block;
  position: absolute;
  left: -50px;
  width: 350px;
  height: 580px;
  margin-top: 0px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#pricing_dropdown {
  display: none;
}

#navbar ul li:hover #pricing_dropdown {
  display: block;
  position: absolute;
  left: -80px;
  width: 300px;
  height: 280px;
  margin-top: 0px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* for mobile menu */

label #btn,
label #cancel {
  color: red;
  font-size: 30px;
  line-height: 80px;
  cursor: pointer;
  margin-right: 20px;
  display: none;
  
}

#check{
  display:none;
}

@media(max-width:998px){
  nav ul{
    position: fixed;
    top: 80px;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
  }

  nav ul li{
    margin: 40px 0px;
  }
 }
    
@media(max-width:768px){
  nav img{
    left:8%;
 }
 label #btn{
  display:block;
}

#navbar ul{
  position:fixed;
  width:100%;
  height:100vh;
  top:80px;
  left:0;
  text-align:center;
}
#navbar ul li{
  display:block;
  margin:50px 0px;

}
    
}


